<button
  type="button"
  class="btn btn-outline"
  (click)="finalize()"
>
  Finalizar Expediente
</button>
<div class="clr-row request">
  <div class="clr-col-lg-4 clr-col-12" *ngFor="let delivery of deliveryman">
    <div class="card">
      <div class="card-block">
        <h3 class="card-title">{{ delivery.name }}</h3>
        <p class="card-text">
          Telefone: {{ delivery.phone | mask: "(00) 00000-0000" }}
        </p>
        <p>
          Entrega 6: {{ getValue(delivery.category6?.quantity) }} - Total: R$: {{ getValue(delivery.category6?.value) }},00
        </p>
        <p>
          Entrega 10: {{ getValue(delivery.category10?.quantity) }} - Total: R$: {{ getValue(delivery.category10?.value) }},00
        </p>
        <p>
          Entrega outro: {{ getValue(delivery.category?.quantity) }} - Total: R$: {{ getValue(delivery.category?.value) }},00
        </p>
        <p>
          Total: R$: {{ getTotal(delivery) }}
        </p>
      </div>
    </div>
  </div>
</div>
