img {
  margin-top: 2%;
  width: 150px;
  height: 150px;
}

h2 {
  text-align: center;
  font-weight: 600;
  color: #b70606;
}

[center] {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

[input-delinea] {
  min-width: 300px;
}

.panel {
  margin-top: 1rem;
  background-color: #fff;
  width: 350px;
  height: 250px;
  border: 1px #ededed solid;
  border-radius: 5px;
  padding: 1rem;
}

.clr-row {
  margin-right: 0 !important;
  margin-left: 0 !important;
}

.eyes-password {
  position: absolute;
  z-index: 7;
  top: -5px;
  width: 37px;
  height: 37px;
  left: 261px;
  background: none;
  border: none;
}

.eyes-password clr-icon {
  color: #b70606;
  width: 20px;
  height: auto;
}

.eyes-password:hover {
  cursor: pointer;
}
