<clr-datagrid
  [(clrDgSingleSelected)]="customerSelected"
  [clDgRowSelection]="true"
>
  <clr-dg-action-bar>
    <div class="btn-group">
      <button
        type="button"
        class="btn btn-sm btn-success-outline"
        (click)="onCreate()"
      >
        <clr-icon shape="plus"></clr-icon> Cadastrar
      </button>
      <button
        type="button"
        class="btn btn-sm btn-danger-outline"
        (click)="onDelete()"
        [disabled]="!customerSelected"
      >
        <clr-icon shape="close"></clr-icon> Deletar
      </button>
      <button
        type="button"
        class="btn btn-sm btn-secondary"
        (click)="onEdit()"
        [disabled]="!customerSelected"
      >
        <clr-icon shape="pencil"></clr-icon> Editar
      </button>
      <button
        type="button"
        class="btn btn-sm btn-success"
        (click)="onEdit()"
        [disabled]="!customerSelected"
      >
        <clr-icon shape="note"></clr-icon> Novo pedido
      </button>
    </div>
  </clr-dg-action-bar>
  <clr-dg-placeholder>Sem Clientes cadastrados!</clr-dg-placeholder>
  <clr-dg-column [clrDgField]="'name'">Nome</clr-dg-column>
  <clr-dg-column [clrDgField]="'phone'">Telefone</clr-dg-column>
  <clr-dg-row *clrDgItems="let customer of customers" [clrDgItem]="customer">
    <clr-dg-cell>{{ customer.name }}</clr-dg-cell>
    <clr-dg-cell>{{ customer.phone }}</clr-dg-cell>
  </clr-dg-row>
  <clr-dg-footer>
    <clr-dg-pagination #pagination [clrDgPageSize]="10">
      {{ pagination.firstItem + 1 }} - {{ pagination.lastItem + 1 }} de
      {{ pagination.totalItems }} Clientes cadastrados
    </clr-dg-pagination>
  </clr-dg-footer>
</clr-datagrid>

<clr-modal [(clrModalOpen)]="showModal" [clrModalSize]="'lg'">
  <h3 class="modal-title">Clientes</h3>
  <div class="modal-body">
    <form [formGroup]="form">
      <section>
        <div class="form-group">
          <label for="name" class="required">Nome do cliente</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="text"
              formControlName="name"
              size="72"
              maxlength="68"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="phone" class="required">Telefone</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="text"
              formControlName="phone"
              size="48"
              maxlength="44"
              autocomplete="off"
              mask="(00) 0*"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="dateOfBirth">Data de Nascimento</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="date"
              formControlName="dateOfBirth"
              size="34"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="address" class="required">Endereço</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="text"
              formControlName="address"
              size="72"
              maxlength="68"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="district">Bairro</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="text"
              formControlName="district"
              size="47"
              maxlength="40"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="number">Número</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="number"
              formControlName="number"
              size="9"
              maxlength="68"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="lot">Lote</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="text"
              formControlName="lot"
              size="16"
              maxlength="18"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="block">Quadra</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="text"
              formControlName="block"
              size="14"
              maxlength="18"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="aptoBlock">Bloco</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="text"
              formControlName="aptoBlock"
              size="14"
              maxlength="18"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="apto">Apto</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="text"
              formControlName="apto"
              size="14"
              maxlength="18"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="number" class="required">Taxa de entrega</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="number"
              formControlName="deliveryTax"
              size="16"
              maxlength="68"
              autocomplete="off"
            />
          </label>
        </div>
        <div class="form-group">
          <label for="referencePoint">Ponto de Referência</label>
          <label
            aria-haspopup="true"
            role="tooltip"
            class="tooltip tooltip-validation tooltip-sm"
          >
            <input
              input-delinea
              type="text"
              formControlName="referencePoint"
              size="51"
              maxlength="60"
              autocomplete="off"
            />
          </label>
        </div>
      </section>
    </form>
  </div>
  <div class="modal-footer">
    <button
      type="button"
      class="btn btn-danger-outline"
      (click)="showModal = false"
    >
      Cancelar
    </button>
    <button
      type="button"
      [clrLoading]="submitLoading"
      class="btn btn-success"
      (click)="onSave()"
      [disabled]="!form.valid || submitLoading"
    >
      {{buttonSubmitText}}
    </button>
  </div>
</clr-modal>
