clr-accordion {
  padding: 0.7rem !important;
}

h5 {
  margin: 0;
}

img {
  width: auto;
  height: 80px;
}

.form .form-group,
form .form-group {
  padding-left: 0 !important;
  padding-top: 0 !important;
  display: inline-block;
}

p {
  margin: 0;
}

.products-grid > .datagrid {
  background-color: #fff9e2;
}

.datagrid-table .datagrid-cell {
  font-family: Courier New, Courier, Lucida Sans Typewriter, Lucida Typewriter,
    monospace !important;
}

.print {
  display: none;
}

#search-custumer {
  margin: 0.5rem 0 0 0.7rem !important;
}

#details-order {
  margin: 1rem 1rem 3rem 0.8rem;
}

@media print {
  * {
    padding: 0;
    margin: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif !important;
    font-weight: 600  !important;
    letter-spacing: normal;
  }

  p {
    line-height: 1rem;
    margin: 0.1rem 0;
  }

  li {
    margin: 0.4rem 2rem;
  }

  img {
    display: block;
    margin-left: auto;
    margin-right: auto;
  }

  .box-radius {
    border: 1px solid black;
    margin-top: 0.5rem;
    border-radius: 4px;
    padding: 6px;
  }

  .box {
    border: 1px solid black;
    margin-top: 0.5rem;
    padding: 4px;
  }

  .border {
    margin-bottom: 0.5rem;
  }
}
